%body.page
	%p.text.name 
		<a class="text" href="http://www.linkedin.com/in/gilesholt"> linkedin</a> / 
		<a class="text" href="https://github.com/ghholt"> github</a> / 
		<a class="text" href="mailto:gileshopkinsholt@gmail.com?Subject=Hello" target="_top"> gileshopkinsholt@gmail.com</a>

